@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    overflow-x:hidden ;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    height: 80px;
    display: flex;
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
}

p{
    line-height: 1.5;
}

.purple {
    color: #7342d6;
}

.nav__container {
    width: 100%;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 160px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #7342d6;
    padding: 8px;
    transition: all 300ms ease;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 2px #7342d6 solid;
    border-radius: 4px;
}

.nav__link--primary:hover{
    text-decoration: none;
}

.button__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #7342d6;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 300ms ease-in;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-width: 100vh;
    overflow-y: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    color: white;
    font-size: 40px;
}

.button__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

/*

LANDING

*/

#landing {
    background-color: rgba(115, 66, 214, 0.1);
}

header {
    height: calc(100vh - 80px);
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;

}

h1 {
    font-size: 56px;
    color: #7342d6;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

.btn {
    background-color: #7342d6;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
}

.header__image--wrapper {
    padding: 20px 20px 40px 20px;
    z-index: 2;
}

.header__image {
    padding: 20px;
    animation: floating 2s ease-in-out infinite alternate-reverse;
}

@keyframes floating {
    0%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(10px);
    }
}

.container {
 padding: 56px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.no-cursor {
    cursor: not-allowed;
}

/*

HIGHLIGHTS

*/

#highlights {
    position: relative;
    max-width: 100vw;
}

#highlights:before{
    content: "";
    background: url('assets/wave.svg');
    position: absolute;
    width: 101vw;
    height: 12vw;
    top: 1px;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: none;
    transform: translateY(-100%);
}
#highlights:after{
    content: "";
    background: url('assets/wave.svg');
    position: absolute;
    width: 101vw;
    height: 12vw;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: none;
    transform: translateY(100%) rotate(180deg);
}


.highlight__wrapper {
    display: flex;
    flex-wrap:wrap ;
}

.highlight {
    padding: 0 24px;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.highlight__para {
    text-align: center;
    max-width: 280px;
}

.highlight__image {
    border: #7342d64b solid 2px;
    color: #7342d6;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 24px;
}

.highlight__sub-title {
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
}

/*

FEATURES

*/

#features {
    padding-top: 8vw;
    background-color: rgba(115, 66, 214, 0.1);
}

.books{
    display: flex;
    flex-wrap: wrap;
}

.book {
    width: 25%;
    padding: 24px;
}

.book__image {
    max-height: 380px;
    transition: all 300ms ease;
    cursor: no-drop;
}

.book__image--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

.book:hover .book__image {
    transform: scale(1.03);
}

.book__title {
    font-size: 20px;
    margin-bottom: 8px;
}

.book__title:hover {
    text-decoration: underline;
    cursor: not-allowed;
}

.book__ratings {
    margin-bottom: 8px;
    color: #7342d6;
}

.book__price--normal {
    text-decoration: line-through;
    padding-right: 6px;
    color: gray;
}

#explore {
    background-color: rgba(115, 66, 214, 0.1);
}

.explore__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    display: flex;
}

footer {
    background-color: #242424;
}

.footer__logo--image {
    width: 160px;
    filter: grayscale(1) invert(1);
}

.footer__link,
.footer__copyright {
    color: white;
}

.footer__links {
    margin: 20px 0 24px 0;
}

.footer__link {
    padding: 0 8px;
}

@media (max-width: 768px){
    .header__description{
        padding: 0 24px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 26px;
    }

    .button {
        font-size: 18px;
    }

    .book {
        width: 50%;
    }

    .nav__links{
        display: none;
    }

    .button__menu {
        display: block;
    }

}

@media (max-width: 550px){
    .nav__links{
        display: none;
    }

    .button__menu {
        display: block;
    }

    .highlight {
        width: 100%;
    }

    .highlight:not(:last-child){
        margin-bottom: 24px;
    }
}

/* BOOKS PAGE */


#books__body {
    background-color: rgba(115, 66, 214, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  #books__main {
    flex: 1;
  }
  
  .books__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
  
  .books__header--title {
    margin-bottom: 0;
  }
  
  select {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 16px;
    width: 100%;
    max-width: 200px;
  }
  
  .books__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-size: 60px;
    color: #7342d6;
  }
  
  .fa-spinner {
    animation: rotate 600ms infinite linear;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
  @media (max-width: 768px) {
    .header__description {
      padding: 0 24px;
    }
  
    h1 {
      font-size: 40px;
    }
  
    h2 {
      font-size: 26px;
    }
  
    button {
      font-size: 18px;
    }
  
    .book {
      width: 50%;
    }
  }
  